.List li{
    list-style: none;
    display: inline;
    margin: 20px;
    Display: table;

}

.List {
    transition: background-color .2s ease-out;
}

.List input{
    font-size: 20px;
    padding: 20px;
    background-color: #285e8a;
    border: 2px solid #285e8a;
}

.List input.text{
    background-color: #FFF;
    border: 2px solid #FFF;
}

.List input:hover{
    background-color: #4273d4;
    border: 2px solid #4273d4;
    cursor: pointer;
}
.List input.text:hover{
    background-color: #FFF;
    border: 2px solid #FFF;
    cursor: auto;
}
