.container{
    width: 800px;
    text-align: center;
}
.special_text{
    font-size: 40px;
}
.container form {
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;

}
.menu{
    background-color: rgb(77, 96, 158);
    border-radius: 10px;

}
.container form div{
    height: 100px;
}
.container form div input {
    width: 210px;
    background-color: #FFF;
    border: 1px #FFF;
    padding: 20px;
}
.container form div input.box{
    padding: 22.5px;
}
.box1{
    background-color: rgb(116, 165, 116);
    border: 2px rgb(116, 165, 116);
    height: 60px;
    width: 200px;
}

.box1:hover{
    background-color: rgb(46, 114, 46)
}

.menu p{
    font-size: 30px;
    padding: 10px;
}
.container form div p{
    font-size: 15px;
}