.product{
    display: grid;
    grid-template-columns: 50% 50%;
    float: center;
    margin: auto;
}

.detailsPage input[type="button"] {
    position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: #389482;
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid #389482;
	border-width: 1px 1px 3px;
	margin-bottom: 20px;
}

.textDetails{
    margin-left: 20px;
}

.detailsPage img{
    padding: 20px;
}

.textAlign{
    padding: 50px;
}
