.search input{
    width: 210px;
    background-color: #FFF;
    border: 1px #FFF;
    padding: 20px;
} 
.search select{
    width: 210px;
    background-color: #FFF;
    border: 1px #FFF;
    padding: 20px;
}
.search form{
    display: flex;
    justify-content: center;
}