body{
    background-color: #73aadde0;
    font-size: 30px;
    font-family: sans-serif;
}
#root{
    display: flex;
    justify-content: center;
}
.counter form button{
    font-size: 20px;
    width: 600px;
    padding:20px;
    background-color: #285e8a;
    border: 2px solid #285e8a;
}
.counter{
    background-color: #8ac2e7;
    padding: 20px;
    margin: 20px;
}
.counter p{
    display: flex;
    justify-content: center;
}
